*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* min-height: 100vh; */
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
h4{
    margin: 0.4rem 2rem;
}
/* Navbar Styling */
#nav{
    width: 100%;
}
#navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #FFFFFA;
}

#nav-links{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
#logo > a{
    cursor: pointer;
    color: #646F58;
    font-weight:900;
}

#nav-links > div > a {
    text-decoration: none;
    color: #504B3A;
}

#nav-links > div > a:hover{
    color: #8963BA;
}

#search-bar{
    padding: 0.5rem;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
}
#navbar > div:nth-child(2){
    width: 40%;
}
#nav-links > div > a{
    display: flex;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
}
#nav-links > div > h6{
    font-weight: 500;
}
#nav-links p{
    font-size: 0.5rem;
}
#nav-links > div > div:nth-child(2){
    display: flex;
    flex-direction: column;
}

#bottom-nav{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 0.8rem;
}
#sign-up{
    display: none;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
#sign-up > div{
    display: flex;
    flex-direction: column;
}
#sign-up>div>h6{
    font-weight: 600;
}
#sign-up > div > a{
    color: black;
}
#sign-up p{
    font-size: 0.8rem;
}
#sign-up > button{
    border: none;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 0.4rem;
}
#sign-up > button:hover{
    cursor: pointer;
}

/* main section */
/* reusable css */
.cards-container{
    display: flex;
    padding: 0.4rem;
    gap: 0.4rem;
    overflow-x: scroll;
    scrollbar-width: none;
}
.card{
    display: flex;
    flex-direction: column;
}

/* offer cards (top cards) */
#offer-cards{
    padding: 1rem;
}
.offer-card > div{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem 1rem 1.5rem 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.offer-card:hover{
    text-decoration: underline;
}
.offer-card:first-child > div{
    background-color: rgb(140, 211, 211);
}
.offer-card:nth-child(2) > div{
    background-color: black;
    color: white;
}
.offer-card:nth-child(2) > div:hover{
    text-decoration: underline;
}
.offer-card:nth-child(3) > div{
    background-color: rgb(183, 133, 197);
}
.offer-card:nth-child(4) > div{
    background-color: rgb(84, 126, 126);
    color: white;
}
.offer-card:nth-child(4) > div:hover{
    text-decoration: underline;
}
.offer-card > img{
    height: 20rem;
    width: 30rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

/* new arrivals (secons secion of cards) */
#new-arrivals{
    padding: 2rem;
    display: flex;
}
.new-arrivals-card{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;
}
.price{
    font-weight: 600;
}
.new-arrivals-card > button{
    border: 2px solid black;
    font-weight: 800;
    padding: 0.2rem;
    background-color: white;
    border-radius: 20px;
}
.new-arrivals-card > button:hover{
    cursor: pointer;
}
.new-arrivals-card:hover{
    transform: translateY(-10px);
}
.new-arrivals-card > img{
    height: 10rem;
    width: 10rem;
}
.new-arrivals-card > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.new-arrivals-card > div > button{
    border: none;
    background-color: white;
}
.new-arrivals-card > div > button:hover{
    color: rgb(74, 74, 74);
}
#insider-awards{
    padding: 1rem;
}
/* last set of cards */
#footer-cards{
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
}
.footer-card{
    border-radius: 5px;
}
.footer-card > img{
    height: 16rem;
    width: 25rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.footer-card:hover{
    text-decoration: underline;
}
.footer-card > div{
    padding: 1rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.footer-card:first-child > div{
    background-color: rgb(212, 212, 212);
}
.footer-card:nth-child(2) > div{
    background-color: rgb(172, 206, 244);
}
.footer-card:nth-child(3) > div{
    background-color: rgb(173, 216, 223);
}
/* Footer Styling */
#footer-div{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}
#footer-div > div:first-child{
    text-align: center;
    font-size: smaller;
    padding: 0.4rem;
    background-color: rgb(232, 232, 232);
}
#footer-div > div:first-child:hover{
    text-decoration: underline;
}

#footer{
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E24;
    color: #F7EBE8;
}

/* media queries */
@media screen and (min-width: 600px) and (max-width: 1024px) {
    #nav-links > div:nth-child(1){
        display: none;
    }
    #nav-links > div:nth-child(2){
        display: none;
    }
    #nav-links > div:nth-child(3){
        display: none;
    }
    #bottom-nav{
        background-color: white;
        color: black;
        font-size: 0.8rem;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    #bottom-nav > div{
        padding: 0.4rem;
        border-radius: 3px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
    #footer-cards{
        overflow-x: scroll;
        scrollbar-width: 0;
    }
}
@media screen and (max-width: 600px) {
    #nav-links > div:nth-child(1){
        display: none;
    }
    #nav-links > div:nth-child(2){
        display: none;
    }
    #nav-links > div:nth-child(3){
        display: none;
    }
    #bottom-nav{
        display: none;
    }
    #sign-up{
        display: flex;
    }
    #footer-cards{
        overflow-x: scroll;
        scrollbar-width: 0;
    }
}
